* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
/* Preloader Start ======================================== */
#preloader {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: 9999999999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  #preloader .loader {
    width: 150px;
    height: 150px;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: animate 2s ease-in-out infinite;
            animation: animate 2s ease-in-out infinite;
  }
  
  #preloader .loader::before,
  #preloader .loader::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #4bcaff;
    animation: load 2s ease-in-out infinite both reverse;
  }
  
  #preloader .loader::after {
    border-color: #fd7c00;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  
  @-webkit-keyframes animate {
    0%, 100% {
      -webkit-transform: rotateX(8.75deg) rotateY(35deg);
              transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
      -webkit-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
              transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
  }
  
  @keyframes animate {
    0%, 100% {
      -webkit-transform: rotateX(8.75deg) rotateY(35deg);
              transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
      -webkit-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
              transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
  }
  
  @-webkit-keyframes load {
    0%, 100% {
      -webkit-transform: translateZ(25px) rotateX(14deg);
              transform: translateZ(25px) rotateX(14deg);
    }
    33% {
      -webkit-transform: translateZ(-25px) scale(0.4);
              transform: translateZ(-25px) scale(0.4);
    }
    66% {
      -webkit-transform: translateZ(-25px);
              transform: translateZ(-25px);
    }
  }
  
  @keyframes load {
    0%, 100% {
      -webkit-transform: translateZ(25px) rotateX(14deg);
              transform: translateZ(25px) rotateX(14deg);
    }
    33% {
      -webkit-transform: translateZ(-25px) scale(0.4);
              transform: translateZ(-25px) scale(0.4);
    }
    66% {
      -webkit-transform: translateZ(-25px);
              transform: translateZ(-25px);
    }
  }
/* Preloader End ======================================== */

/* Common CSS Start ======================================== */
.container {
    width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.section-intro {
    text-align: center;
}
.section-intro h2 {
    font-size: 36px;
    color: #141920;
    text-transform: uppercase;
}
.section-intro p {
    font-size: 20px;
    color: #414042;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 44px;
    background: #4bcaff;
    border: 2px solid #277697;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.btn:hover {
    background: transparent;
    color: #4bcaff;
    border-color: #4bcaff;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #47BFF1;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    display: none;
    transition: .5s;
    z-index: 9999;
    border-radius: 50%;
  }
.up:hover {
    color: #47BFF1;
    background: #fff;
    border: 2px solid #47BFF1;
}
.up:focus {
    outline: 0;
}
.slick-slide:focus {
    outline: none;
}
.vbox-prev span,
.vbox-next span {
  border-top-color: #47BFF1 !important;
  border-right-color: #47BFF1 !important;
  border: 3px solid transparent;
  width: 30px;
  height: 30px;
}
.venobox {
  outline: none;
}
.vbox-close {
  right: 20px;
  font-size: 40px;
}
/* Common CSS End ======================================== */

/* Header Start ======================================== */

#header {
    background: #131e29;
    border-bottom: 1px solid #546d84;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
#header .logo {
    width: 25%;
}
.logo img {
    padding: 12px 0 25px;
}
#header .menu {
    width: 75%;
}
.menu ul {
    float: right;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 39px 20px 43px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.menu ul li a:hover {
    color: #4bcaff;
}
.menu ul li a.active {
    color: #4bcaff;
}

/* Header End ======================================== */

/* Banner Start ======================================== */

#banner {
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: right;
    background-origin: content-box;
    border-bottom: 3px solid #4bcaff;
}
#banner .empty {
    width: 33%;
}
.empty img {
    width: 100%;
    margin-top: 180px;
}

#banner .banner-content-container {
    width: 67%;
}
.banner-content-container .banner-content {
    width: 800px;
    padding: 235px 0 90px 30px;
}
.banner-content h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 300;
}
.banner-content h1 .bold {
    font-weight: 700;
}
.banner-content p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin: 28px 0 36px;
}
.banner-content .btn-download {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    margin-right: 38px;
}
.banner-content .btn-download:hover {
    color: #4bcaff;
    border-color: #4bcaff;
}
.banner-content .btn-learn:hover {
    color: #fff;
    border-color: #fff;
}
.banner-content .available {
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
}
.available p {
    margin-right: 10px;
}
.icon-box {
    margin-top: 12px;
}
.icon-box img {
    background: #141920;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Banner End ======================================== */

/* Feature Start ======================================== */

#feature {
    padding: 55px 0 70px;
}
#feature .row {
    margin-top: 20px;
}
#feature .feature-item {
    width: 25%;
    text-align: center;
    padding: 45px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.feature-item .icon-image{
    background: #4bcaff;
    height: 150px;
    width: 150px;
    padding-top: 40px;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.feature-item h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #414042;
    margin: 34px 0 25px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.feature-item p {
    font-size: 13px;
    line-height: 22px;
    color: #838383;
}
.feature-item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.feature-item:hover h3 {
    color: #4bcaff;
}
/* Feature End ======================================== */

/* Gallery Start ======================================== */
#gallery .galley-item-container {
    margin-top: 57px;
}
#gallery .gallery-item {
    width: 25%;
    padding: 0 40px;
    text-align: center;
}
.gallery-item img {
    width: 100%;
}
.gallery-item .screenshot-box {
    height: 155px
}
.gallery-item h5 {
    font-size: 15px;
    color: #4bcaff;
    font-weight: 700;
    background: #447084;
    padding: 10px 0;
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
.gallery-item p {
    font-size: 13px;
    color: #838383;
    line-height: 22px;
}
.gallery-prev,
.gallery-next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #4bcaff;
    cursor: pointer;
    transition: .5s;
}
.gallery-prev {
    left: -50px;
}
.gallery-next {
    right: -50px;
}
.gallery-prev:hover,
.gallery-next:hover {
    color: #fd7c00;
}
/* Gallery End ======================================== */

/* Technology Start ======================================== */

#technology {
    background: url("../img/technology.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    z-index: 1;
    margin: 100px 0 80px;
}
#technology::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125, 173, 194, 0.7);
    z-index: -1;
}
#technology .bold {
    font-weight: 700;
}
#technology h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 27px;
    padding-top: 72px;
}
#technology .technology-content {
    width: 630px;
    padding-bottom: 170px;
    margin: auto;
}
.technology-content p {
    margin-bottom: 33px;
}

/* Technology End ======================================== */

/* Price Start ======================================== */

#price .price-table-container {
    margin-top: 55px;
}
#price .price-table {
    width: 30%;
    text-align: center;
    border: 1px solid #dad7d7;
    background: #f9f9f9;
    margin: auto;
}
.price-table h4 {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d7d7d7;
    padding: 20px 0;
}
.price-table h2 {
    font-size: 85px;
    font-weight: 700;
    color: #fff;
    background: #91c46b;
    margin-bottom: 10px;
}
.price-table p {
    font-size: 18px;
    color: #d7d7d7;
    line-height: 40px;
}
.price-table .btn-price {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    background: #91c46b;
    text-transform: uppercase;
    padding: 15px 45px;
    margin: 25px 0 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.price-table.professional h2{
    background: #4bcaff;
}
.price-table.professional p{
    color: #4bcaff;
}
.price-table.professional {
    margin: -20px 5px 0;
}
.price-table.price-table.professional .btn-professional {
    background: #4bcaff;
}
.price-table.advanced h2{
    background: #fd7c00;
}
.price-table.price-table.advanced .btn-advanced {
    background: #fd7c00;
}
.btn-price:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* Price End ======================================== */

/* Testimoinal Start ======================================== */

#testimonial {
    margin: 104px 0 112px;
}
#testimonial h2 {
    font-size: 36px;
    color: #141920;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}
.testimonial-container {
    width: 530px;
    margin: auto;
}
.testimonial-container .testimonial-image{
    width: 30%;
}
.testimonial-container .testimonial-content{
    width: 70%;
    padding: 30px;
}
.testimonial-content p {
    font-size: 14px;
    line-height: 18px;
    color: #4bcaff;
}
.testimonial-content .testimonial-author {
    text-align: right;
}
.testimonial-content .author-profession {
    text-align: right;
}

/* Testimoinal End ======================================== */

/* Download Start ======================================== */

#download {
    background: #414042;
    text-align: center;
    padding: 35px 28px;
}
#download h2 {
    font-size: 55px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}
#download .btn {
    color: #000;
}
#download .btn:hover {
    transform: none !important;
    color: #fff;
}

/* Download End ======================================== */

/* Contact Start ======================================== */

#contact {
    position: relative;
}
#contact h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
#contact .contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    margin: auto;
    background: rgba(101, 206, 241, 0.8);
    padding: 30px 25px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact-container .input-element {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #000;
    border: none;
    padding: 5px 0 10px;
    margin-top: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.contact-container .input-element::placeholder {
    color: #d3d3d3;
}
.contact-container textarea {
    resize: none;
}
.contact-container textarea.subject {
    height: 36px;
}
.contact-container textarea.message {
    height: 140px;
}
.contact-container .btn-submit {
    background: #000;
    border: none;
    border-bottom: 2px solid #313032;
    color: #4bcaff;
    padding: 15px 70px;
    margin-top: 18px;
}

/* Contact End ======================================== */

/* Footer Start ======================================== */

#footer {
    background: #414042;
    padding: 40px 0;
    color: #808081;
    font-size: 12px;
}
#footer .footer-left{
    width: 50%;
}
#footer .footer-right{
    width: 50%;
    text-align: right;
}
.footer-right a {
    text-decoration: none;
    color: #808081;
}

/* Footer End ======================================== */